# Python仮想環境
venv/
.env
*.pyc
__pycache__/
*.pyo

# ChromaDBの永続化データ
chroma_db/

# 環境変数や認証情報
.env
*.pem
*.key
config.json

# Pythonパッケージ関連
*.egg-info/
dist/
build/
*.spec

# ログファイル・キャッシュ
*.log
logs/
*.sqlite3
instance/

# Jupyter Notebook関連
.ipynb_checkpoints/

# IDE・OS特有のファイル
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# 判例が入ってるディレクトリ
supreme_court_texts/
law_chat/create_vectorstore.py
supreme_courts/